TZ=America/Mexico_City
N8N_ENCRYPTION_KEY=superencryptionkey1234567890
# openssl rand -hex 32


# =====================
# N8N – PUBLIC / HTTP
# =====================
N8N_HOST=n8n.tudominio.com
N8N_PROTOCOL=https
N8N_WEBHOOK_URL=https://n8n.tudominio.com/

N8N_BASIC_AUTH_ACTIVE=false
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=supersecreta

N8N_SECURE_COOKIE=true
N8N_TRUST_PROXY=true

# =====================
# N8N – AUTH OAUTH2 / OIDC
# =====================
# Keycloak
KEYCLOAK_ISSUER_URL=https://iam.dev.geoint.mx/realms/sigic

# oauth2-proxy client (Keycloak)
OAUTH2_PROXY_CLIENT_ID=n8n-ui
OAUTH2_PROXY_CLIENT_SECRET=XXXXXXXX

# Debe coincidir EXACTO con Keycloak
OAUTH2_PROXY_REDIRECT_URL=https://n8n.cesarbenjamin.net/oauth2/callback

# 32 bytes base64
OAUTH2_PROXY_COOKIE_SECRET=RANDOM_BASE64_32BYTES

# =====================
# N8N – DATABASE
# =====================
N8N_DB_TYPE=postgresdb
N8N_DB_HOST=postgres
N8N_DB_PORT=5432
N8N_DB_NAME=n8n
N8N_DB_USER=n8n
N8N_DB_PASSWORD=n8npassword

# =====================
# N8N – QUEUE / REDIS
# =====================
N8N_EXECUTIONS_MODE=queue
EXECUTIONS_PROCESS=main
N8N_WORKER=true
N8N_REDIS_HOST=redis
N8N_REDIS_PORT=6379

# =====================
# POSTGRES (infra)
# =====================
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=n8npassword

# =====================
# N8N – RUNNERS (external)
# =====================
N8N_RUNNERS_AUTH_TOKEN=<<shared-secret>>


