entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@cesarbenjamin.net
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
