
services:
  ollama-proxy:
    image: ollama-proxy:local
    build:
      context: .
    container_name: ollama-proxy
    env_file:
      - .env
    ports:
      - "11434:11434"
    restart: unless-stopped
    networks:
      - sigicnetwork


networks:
  sigicnetwork:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: "1360"